body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background: black;
    height: 80px;
    align-items:center;
}

.header-logo{
    padding-left: 1em;
    color: white;
    cursor: auto;
    font-size: 20px;
    text-decoration: none;
    border-bottom: solid white;
    height: 30px;
}

menu{
    display: flex;
    list-style:none;
    flex: 1;
}

menu .nav-item{
    padding-left: 1em;
    color: white;
}

.active{
    font-weight: bold;
}

main{
    background: white;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.bold{
    font-weight: bold;
}

input{
    border: solid black;
    border-radius:5px;
    background: rgb(243, 243, 243);
}

.players{
    flex: 1;
    width: 100%;
    padding: 1em;
    font-weight: bold;
}

.player-name{
    font-weight: bold;
    color: blue;
}

.game{
    background: black;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    position: absolute;
    min-width: 350px;
    min-height: 350px;
    max-width: min(80vmin, 1000px);
    max-height: min(80vmin, 1000px);
}

.button-container{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.button-top-left{
    background-color: green;
    border-radius: 100% 0 0 0;
    margin: 20px 0 0 20px;
    border: thick solid darkgreen;
}

.button-top-right{
    background-color: red;
    border-radius: 0 100% 0 0;
    margin: 20px 20px 0 0;
    border: thick solid darkred;
}


.button-bottom-left{
    background-color: yellow;
    border-radius: 0 0  0 100%;
    margin: 0 0 20px 20px;
    border: thick solid rgb(94, 90, 10);
}

.button-bottom-right{
    background-color: blue;
    border-radius: 0 0 100% 0 ;
    margin: 0 20px 20px 0;
    border: thick solid darkblue;
}

.controls{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.game-name{
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.score{
    position: absolute;
    text-align: center;
    color: red;
    font-size: 20px;
    font-family: monospace;
    cursor: default;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: solid thin darkred;
    background-color: #300;
}

.center{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

table{
    padding-left: 1em;
}

footer{
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    background: black;
    color: white;
    height: 30px;
    justify-content:space-between;
    text-decoration: none;
}

.text-reset{
    text-decoration: none;
    color: white;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }
  .picture-box {
    height: calc(100px + 1em);
    margin-bottom: 1em;
    padding: 0.5em;
    background: rgb(86, 89, 93);
    border-radius: 5px;
  }
  
  .quote-box {
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
  }
  
  .quote {
    font-style: italic;
  }
  
  .author {
    font-weight: bold;
    text-align: right;
  }
  
  .author::before {
    content: " - ";
  }
  
  #picture img {
    width: 100%;
    height: 100%;
  }
  